extends layout

block content

  .head.hide
    include head.jade

  .swiper-container
    .swiper-wrapper

      .swiper-slide
        include intro.jade

      .swiper-slide
        include works.jade

      .swiper-slide
        include team.jade

      .swiper-slide
        include contact.jade

  .foot.hide
    include foot.jade

  //- :marked
  //-   Find tutorials and documentation at http://roots.cx : )
