extends layout

block content

  .swiper-container
    .swiper-wrapper
      .swiper-slide
        h1 nous
        p intro
      .swiper-slide
        h1 works
        .inner-swiper
          .swiper-wrapper
            for post in records.posts.length ? records.posts : ['there is no one']
              .swiper-slide
                != post.title.rendered
      .swiper-slide
        h1 team members
        p horizontal slides
      .swiper-slide
        h1 contacts

  //- h3 Welcome to roots!
  //- :marked
  //-   Find tutorials and documentation at http://roots.cx : )
