extends layout

block content

  .head
    include head.jade

  .swiper-container
    .swiper-wrapper

      .swiper-slide
        include intro.jade

      .swiper-slide
        include works.jade

      .swiper-slide
        include team.jade

      .swiper-slide
        include contact.jade

  .foot
    include foot.jade

  //- h3 Welcome to roots!
  //- :marked
  //-   Find tutorials and documentation at http://roots.cx : )
