h1 works
.inner-swiper
  .swiper-wrapper
    for post in records.posts.length ? records.posts : ['there is no one']
      .swiper-slide
        h2
          a(href = post.link, target = '_blank')
            != post.title.rendered
        - let media = records.media_link + post.featured_media
        img.feature(src = media)
        pre!= post.content.rendered

