@import '_settings'

normalize-css()
base()

// body
//   padding: 50px
img
  max-width: 100%
  height: auto

.head
  position: absolute
  width: 100%
  background: silver
  z-index: 10
  top: 0

.foot
  position: absolute
  width: 100%
  background: silver
  z-index: 10
  bottom: 0

.hide
  display: none

.swiper-container
  width: 100vw
  height: 100vh
  background: gray

  .swiper-slide
    width: 100%
    height: 100%
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    overflow: hidden

.inner-swiper
  width: 80%
  height: 50%
  background: salmon

