@import '_settings'

normalize-css()
base()

body
  // padding: 50px

.head
  position: absolute
  width: 100%
  background: #ddd
  z-index: 10
  top: 0

.swiper-container
  width: 100vw
  height: 100vh
  color: white
  background: dimgray
  
  .swiper-slide
    width: 100%
    height: 100%
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center

.inner-swiper
  width: 80%
  height: 50%
  color: #222
  background: salmon

.foot
  position: absolute
  width: 100%
  background: #ddd
  z-index: 10
  bottom: 0
